body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: skyblue;
}


.landingPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landingPage h1{
  margin-top: 2rem;
  font-size: 5rem;
}

.landingPage p{

  font-size: 2rem;
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#2333be;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button div {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button div:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover div {
  padding-right: 25px;
}

.button:hover div:after {
  opacity: 1;
  right: 0;
}



.header{
 font-size: 2rem;
margin: 1rem;

}
mark {
    background-color: #2333be;
    border-color: #2333be;
    border-style: solid;
    padding:0.5rem;
    border-radius: 0.2rem;
}


.eachCard{
  display: flex;
  cursor: all-scroll;

}

.waymaker{
  margin: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-color: #2333be;
  border-radius: 10px;
  border-style: solid;
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}
.waymaker p{
 
  font-size: 1.25rem;
  text-align: center;
}


.waymaker:hover {
  opacity: 1;
}

.result{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  font-size: 5rem;
  flex-direction: column;
}
.result h1 {
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}

.cta {
  font-size: 2rem;
}

.bottom-button{
  align-self: flex-end;

}
.message p {
  font-size: 1.5rem;
  color:  #2333be;
}